.DS_Store

.idea/

powerx
powerxctl
powerx.exe
powerxctl.exe

data
logs/

# config file
backend/etc/powerx.yaml

# dashboard
dashboard/dist/
dashboard/nginx/ssl/

# web
web/dist/
web/nginx/ssl/

# Docker Compose
docker-compose.yaml

nohup.out
resource/