.DS_Store

.idea/

.env

powerx
powerxctl
powerx.exe
powerxctl.exe

data
logs/

# config file
backend/etc/powerx.yaml

# dashboard
dashboard/dist/
dashboard/nginx/ssl/
dashboard/nginx/server.conf
dashboard/nginx/web.conf

# web
web/dist/
web/nginx/ssl/
web/nginx/server.conf
web/nginx/web.conf


# Docker Compose
docker-compose.yaml

nohup.out
resource/